.solve-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.problem-details {
    width: 100%;
    border: 4px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: #d9d6d6;
}

.problem-details h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.problem-statement h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.problem-statement p {
    margin: 0;
}

.sample-io-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sample-input,
.sample-output {
    width: 45%;
}

.sample-input h4,
.sample-output h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.sample-input pre,
.sample-output pre {
    margin: 0;
}

.output-container {
    margin-top: 310px;
    width: 95%;
    border: 4px solid #000;
    padding: 10px;
    border-radius: 20px;
    background-color: #35c3c5;
    /* Add your desired background color */
}

.custom-input-container textarea {
    width: 70%;
    height: 55px;
    font-size: 30px;
    border: 4px solid #000;
    border-radius: 10px;
}

.code-editor {
    flex: 1.5;
    padding: 0;
}

